body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    
   
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    
   }

    .innerdata:hover{
    transform: scale(1.1);
   }

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: #f0f0f0; 
}


#input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
